<%= form_with(model: member_team, local: true) do |form| %>
  <% if member_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_team.errors.count, "error") %> prohibited this member_team from being saved:</h2>

      <ul>
      <% member_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.number_field :member_id, id: :member_team_member_id %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.number_field :team_id, id: :member_team_team_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
